<!doctype html>

<html>
  <head>
    <title>/r/dogs</title>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'>
  </head>

  <body>
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
  </body>
</html>