<!DOCTYPE html>
<html>
  <head>
    <title>Lesson 3</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Dog or Not Dog</h1>
    <p><%= message %></p>
    <a href='/' class='try-again-btn'>Try Again?</a>
  </body>
</html>
