<!DOCTYPE html>
<html>
  <head>
    <title>Lesson 3</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Dog Haus</h1>
    <form action="/predict" method="post">
      <input type="url" name="image"/>
      <input type="submit"/>
    </form>
  </body>
</html>
