body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.login {
    margin: 0 auto;
    width: 960px;
}

.card-body {
    padding: 20px;
}

.form-detail {
    margin: 25px 0;
}
